name: Test Build

on:
  push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
          
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
            python
            python-pip
          
      - uses: actions/cache@v4
        with:
          path: C:\msys64\home\runneradmin\.conan2
          key: conan2-${{ runner.os }}-${{ hashFiles('conanfile.*') }}
          restore-keys: conan2-${{ runner.os }}-
          
      - name: Install Conan (venv)
        shell: msys2 {0}
        run: |
          python -m venv ~/.venv
          source ~/.venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install "conan==2.21.0"
        
      - name: Detect profile
        shell: msys2 {0}
        run: ~/.venv/bin/conan profile detect --force

      - name: Update Conan remote to center2
        shell: msys2 {0}
        run: |
          ~/.venv/bin/conan remote update conancenter --url https://center2.conan.io
          gcc -v
        
      - name: Conan install
        shell: msys2 {0}
        run:  ~/.venv/bin/conan install . --output-folder=build --build=missing --profile=./tests/conan/profiles/mingw.ini

      - name: Configure CMake (use Conan toolchain)
        shell: msys2 {0}
        run: cmake -S . -B build -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake

      - name: Build
        shell: msys2 {0}
        run: cmake --build build -j