name: Test Build

on:
push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
            python-pip
          
      - uses: actions/cache@v4
        with:
          path: C:\Users\runneradmin\.conan2
          key: conan2-${{ runner.os }}-${{ hashFiles('conanfile.*') }}
          restore-keys: conan2-${{ runner.os }}-
          
      - name: Install Conan
        shell: msys2 {0}
        run: pip install --upgrade pip conan
        
      - name: Detect profile (gcc/MinGW)
        shell: msys2 {0}
        run: conan profile detect --force

      - name: Conan install (deps -> build/)
        shell: msys2 {0}
        run: conan install . --output-folder=build --build=missing

      - name: Configure CMake (use Conan toolchain)
        shell: msys2 {0}
        run: cmake -S . -B build -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake

      - name: Build
        shell: msys2 {0}
        run: cmake --build build -j