name: Test Build

on:
  push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Configure
        run: cmake -S . -B build
        
      - name: Build
        run: cmake --build build