name: ODR checks

on:
  push

jobs:
  odr:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: Build Singltons ODR header
        shell: bash
        run: |
          cmake -S tests/odr -B build
          cmake --build build
         