name: ODR checks

on:
  push

jobs:
  odr:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          
      - name: Build Singltons ODR header
        shell: bash
        run: |
          cmake -S tests/odr -B build -DCMAKE_CXX_STANDARD=17
          cmake --build build
         